html, body {
  width: 100%;
  height: 100%;
  overflow-x:'hidden';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#landingGrid {
  position: relative; 
  top: 20vh;
  z-index: 5;
}

#ipadImg {
  max-width: 100%;
  width: 600px;
  min-width: 320px;
  object-fit:fill;

}

.salesText {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  width: 100%;
  max-width: 440px;
  background-color: #007CBE ;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.signUpFields {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 440px;
  font-size: 1em;
  margin-top: 3vh;
  padding: 5px;
  border: 1px solid #707070;
  border-radius: 5px;
}
#wideBtn {
  margin: auto;
  font-size: 1.4em;
  font-family: 'Abril Fatface';
  padding: 0px;
  margin-top: 2vh; 
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
